body
{

    background: white;
	color: brown;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 25px;
	margin: 0;
	padding: 0;
}

#cabecera
{
	background: #37488b;
	box-shadow: 0px 2px 20px 0px rgba(0, 0,0,0.5);	
	color:  #ffffff;
	font-weight: bold;
	margin: 0px;
	padding: 0.5em 0 0.5em 2em;

}

#cabecera #logo
{
	width: 20px;
	vertical-align: middle;
}

#cabecera #tagline
{
	margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container
{
	width: 70%;
	padding: 1em;
	text-align: center;
	border: 1px solid #999;
	margin: 0 auto;

}
#contain h1
{
	font-size: 50px;
	text-align: center;
}
<<<<<<< HEAD
#post
{
	background: white;
	padding: 1em;
}
=======

#footer
{
  background: #37488b;
  color: yellow;
  text-align: center;
  padding: 0.5em;
}
>>>>>>> footer
